name: CI

on:
  push:
    branches:
    - master
    tags:
    - '*'
    paths:
    - .github/workflows/integration.yml
    - .golangci.yaml
    - sonar-project.properties
    - go.mod
    - go.sum
    - '**.go'
  pull_request:
    branches:
    - master
    paths:
    - .github/workflows/integration.yml
    - .golangci.yaml
    - sonar-project.properties
    - go.mod
    - go.sum
    - '**.go'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.15, 1.14, 1.13]
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: cache build
      uses: actions/cache@v2
      with:
        path: ${GOCACHE}
        key: ${{ runner.os }}-build-${{ matrix.go-version }}-${{ hashFiles('**/*.go') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ matrix.go-version }}-${{ hashFiles('**/*.go') }}
          ${{ runner.os }}-build-${{ matrix.go-version }}-
          ${{ runner.os }}-build-
    - name: initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: go
    - name: build
      run: go build -race ./...
    - name: CodeQL analysis
      uses: github/codeql-action/analyze@v1
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: cache lint
      uses: actions/cache@v2
      with:
        path: ${HOME}/.cache/golangci-lint
        key: ${{ runner.os }}-lint-${{ hashFiles('.golangci.yaml') }}
        restore-keys: |
          ${{ runner.os }}-lint-${{ hashFiles('.golangci.yaml') }}
          ${{ runner.os }}-lint-
    - name: lint
      run: >
        mkdir -p ${HOME}/.cache/golangci-lint;
        docker run --rm -a STDOUT -a STDERR
        --mount type=bind,source=${HOME}/.cache/golangci-lint,target=/.cache/golangci-lint,consistency=cached
        --mount type=bind,source=${GITHUB_WORKSPACE},target=/usr/src,consistency=cached
        -w /usr/src
        golangci/golangci-lint:v1.32-alpine golangci-lint run -v --out-format checkstyle > golangci-lint-report.xml
    - name: upload lint report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: lint-report
        path: ${{github.workspace}}/golangci-lint-report.xml
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    - name: cache test
      uses: actions/cache@v2
      with:
        path: ${GOCACHE}
        key: ${{ runner.os }}-test-${{ hashFiles('**/*.go') }}
        restore-keys: |
          ${{ runner.os }}-test-${{ hashFiles('**/*.go') }}
          ${{ runner.os }}-test-
    - name: test
      run: |
        go test -race -cover -coverprofile=coverage.out -json -v ./... > test-report.json
    - name: upload coverage report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: coverage-report
        path: ${{github.workspace}}/coverage.out
    - name: upload test report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: test-report
        path: ${{github.workspace}}/test-report.json
  report:
    runs-on: ubuntu-latest
    needs: [lint,test]
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: cache sonar scanner
      uses: actions/cache@v2
      with:
        path: $HOME/sonar-scanner-cache
        key: ${{ runner.os }}-sonar-scanner-cache-${{ hashFiles('**/sonar-project.properties') }}
        restore-keys: |
          ${{ runner.os }}-sonar-scanner-cache-${{ hashFiles('**/sonar-project.properties') }}
          ${{ runner.os }}-sonar-scanner-cache-
    - name: download lint report
      uses: actions/download-artifact@v2
      with:
        name: lint-report
    - name: download test report
      uses: actions/download-artifact@v2
      with:
        name: test-report
    - name: download coverage report
      uses: actions/download-artifact@v2
      with:
        name: coverage-report
    - name: run sonar scanner
      run: >
        mkdir ${HOME}/sonar-scanner-cache;
        docker run --rm -a STDOUT -a STDERR
        --user $(id -u):$(id -g)
        --mount type=bind,source=${HOME}/sonar-scanner-cache,target=/opt/sonar-scanner/.sonar/cache,consistency=cached
        --mount type=bind,source=${GITHUB_WORKSPACE},target=/usr/src,consistency=cached
        sonarsource/sonar-scanner-cli
        -Dsonar.login=${{ secrets.SONAR_TOKEN }}
  release:
    runs-on: ubuntu-latest
    needs: [build,lint,test]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: generate changelog
      id: changelog
      uses: heineiuo/create-changelogs@master
    - name: create release
      id: create_release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        body: ${{ steps.changelog.outputs.changelogs }}
        draft: false
        prerelease: ${{ steps.changelog.outputs.release_type == 'prerelease' }}
